<div class="pupTraingBigWrap pupHide">
  <div class="pupTraingWrap">
    <div class="pupTraingMenu">
      <svg
          width="47"
          height="47"
          class="pupTraing_close"
          viewBox="0 0 47 47"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          id="pupTraingClosePup"
      >
        <g opacity="0.5">
          <line x1="11.7275" y1="35.0619" x2="35.062" y2="11.7274" stroke="white"></line>
          <line x1="35.062" y1="35.2726" x2="11.7274" y2="11.938" stroke="white"></line>
        </g>
      </svg>
    </div>
    <div class="pupTraing">

      <div class="pupTraing__title">
        запись на сеанс
      </div>

      <form
          class="pupTraingForm"
          id="pupSignUpTrain"
          autocomplete="off"
      >
        <label class="mainPup__input-wrap" for="name">
          <input
              onfocus="this.placeholder=''"
              onblur="this.placeholder='Имя'"
              placeholder="Имя"
              required
              type="text"
              class="pupTraing__input"
              maxlength="30"
              autocomplete="off"
              form="pupSignUpTrain"
              name="userName"
              id="pupTraing_iName"
          >
          <span class="mainPup__input-caption">Имя*</span>
        </label>

        <label class="mainPup__input-wrap" for="name">
          <input
              onfocus="this.placeholder=''"
              onblur="this.placeholder='Контактный телефон'"
              placeholder="Контактный телефон"
              required
              type="text"
              class="pupTraing__input"
              maxlength="16"
              autocomplete="off"
              form="pupSignUpTrain"
              name="phoneNumber"
              id="pupTraing_iPhone"
              onkeydown="return event.keyCode !== 69"
          >
          <span class="mainPup__input-caption">Контактный телефон</span>
        </label>

        <button
            form="pupSignUpTrain"
            name="send"
            type="submit"
            class="pupTraing__btn btn"
            id="pupTraingFormSendBtn"
            onclick="ym(63481894,'reachGoal','submit'); return true"
        >
          записаться
        </button>

      </form>
    </div>
  </div>
</div>
